// Core variables and mixins
@import "bootstrap/bootstrap.less";

// colour scheme
@blue-dark: #023550;
@blue: #028A9E;
@blue-light: #04BFBF;
@white: #EFEFEF;
@orange: #932a00;

.jumbotron, .btn-primary, .about {
	background-color: @blue-dark;
	color: white;

	a {
		color: white;
		text-decoration: underline;
	}
}

.about {
	margin-top: 2em;
	padding: 1em 0 3em;
}

.output {
	margin-top: 1em;
}

.content-info {
	text-align: center;
	margin-top: 1em;
}